/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_0171f0ff3cc3fc63023c861d06be2926.eot");
  src: url("./fontcustom_0171f0ff3cc3fc63023c861d06be2926.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_0171f0ff3cc3fc63023c861d06be2926.woff") format("woff"),
       url("./fontcustom_0171f0ff3cc3fc63023c861d06be2926.ttf") format("truetype"),
       url("./fontcustom_0171f0ff3cc3fc63023c861d06be2926.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_0171f0ff3cc3fc63023c861d06be2926.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-bolt:before,
.icon-comment-o:before,
.icon-eye:before,
.icon-power-off:before,
.icon-sun-o:before,
.icon-voting:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-bolt:before { content: "\f102"; }
.icon-comment-o:before { content: "\f107"; }
.icon-eye:before { content: "\f103"; }
.icon-power-off:before { content: "\f104"; }
.icon-sun-o:before { content: "\f105"; }
.icon-voting:before { content: "\f108"; }
