[submodule "submodules/Simple-Grid"]
	path = submodules/Simple-Grid
	url = https://github.com/ThisIsDallas/Simple-Grid.git
[submodule "submodules/HTML5-Reset"]
	path = submodules/HTML5-Reset
	url = https://github.com/murtaugh/HTML5-Reset.git
[submodule "submodules/d3"]
	path = submodules/d3
	url = https://github.com/mbostock/d3
[submodule "static/third-party/showdown"]
	path = submodules/showdown
	url = https://github.com/showdownjs/showdown.git
[submodule "submodules/hs-webdriver"]
	path = submodules/hs-webdriver
	url = https://github.com/zerobuzz/hs-webdriver
