.admin-menu {
    @include rem(margin-bottom, -($main-menu-height * 2));
    background: $color-grey-light;
    height: 100%;

    .admin-menu-header, > ul {
        @include rem(padding, 20px 25px);

        @media screen and (max-width: $tablet-breakpoint) {
            padding: 0;
        }
    }

    > ul li {
        @include rem(margin-bottom, 15px);

        a {
            color: $color-text;

            &.tab-selected {
                font-weight: bold;
                color: $color-brand1;
            }
        }

        ul {
            @include rem(margin-top, 5px);

            li {
                @include rem(margin, 5px 0 0 20px);
            }
        }

        @media screen and (max-width: $tablet-breakpoint) {
            @include rem(margin-right, 15px);
            display: inline-block;
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: $tablet-breakpoint) {
        @include rem(margin-bottom, 20px);
        @include rem(padding-bottom, 10px);
        background: transparent;
        border-bottom: 2px solid $color-grey-light;
        height: auto;
    }
}

.admin-menu-header {
    @include rem(margin-bottom, 40px);
    background: $color-brand1;
    color: white;

    @media screen and (max-width: $tablet-breakpoint) {
        @include rem(font-size, $font-size-normal);
        background: transparent;
        color: $color-text;
        margin-bottom: 0;
    }
}

.admin-body, .admin-menu {
    @include rem(font-size, $font-size-small);
}

.admin-body {
    @include rem(margin-top, 118px);
    @include rem(padding-left, 50px);

    .label-text {
        font-weight: bold;
    }

    @media screen and (max-width: $tablet-breakpoint) {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

.admin-table {
    width: 100%;

    th, td {
        border-bottom: 2px solid $color-grey-lighter;
        vertical-align: middle;
        text-align: left;
    }

    th {
        @include rem(padding-bottom, 10px);
        line-height: $button-height;
    }

    td {
        @include rem(padding, 7px 0);
    }

    .img-container {
        @include make_rounded_thumbnail(35px);
        display: block;
    }
}

.inline-search-container {
    display: inline-block;
    position: relative;
    text-transform: capitalize;

    .inline-search-input {
        @include rem(font-size, $font-size-small);
        @include rem(padding, 0 15px);
        border: 1px solid $color-grey-light;
        border-radius: $button-height / 2;
        color: $color-grey-mid;
        line-height: $button-height;
        width: auto;
    }

    .inline-search-button {
        @include rem(height, ($button-height - 2px));
        @include rem(width, ($button-height - 2px));
        background: $color-grey-light;
        border-radius: ($button-height - 2px);
        color: $color-grey-mid;
        display: block;
        line-height: ($button-height - 2px);
        position: absolute;
        right: 2px;
        text-align: center;
        top: 2px;

        i:before {
            line-height: ($button-height - 2px);
        }
    }
}

.download-box {
    @extend .admin-container;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid $color-grey-light;

    .download-box-body, .download-box-header {
        @include rem(padding, 15px);
    }

    .download-box-header {
        background: $color-grey-lighter;
        border-bottom: 1px solid $color-grey-light;
        display: bold;
        font-weight: bold;
        line-height: $button-height;
        overflow: hidden;

        .download-box-button {
            float: right;
        }
    }
}

.admin-container {
    max-width: 550px;
}

.admin-main-heading {
    @extend .main-heading;
    text-align: left;
}

$avatar-size: 118px;

.upload-avatar a {
    @include rem(font-size, 40px);
    @include rem(height, $avatar-size);
    @include rem(width, $avatar-size);
    background: $color-grey-mid;
    border-radius: $avatar-size / 2;
    color: $color-grey-light;
    text-align: center;

    &:hover, &:focus {
        color: white;
        text-decoration: none;
    }

    .upload-avatar-icon, .upload-avatar-icon:before, &  {
        line-height: $avatar-size;
        display: block;
        height: $avatar-size;
    }
}

.admin-buttons {
    [class^="btn-"], input[type="submit"] {
        @include rem(margin-right, 15px);
    }
}

.forgotten-password {
    @include rem(top, -30px);
    position: relative;
}