.role-badges {
    overflow: hidden;
}

.badge {
    @include rem(font-size, $font-size-smaller);
    @include rem(margin, 0 10px 10px 0);
    @include rem(padding, 0 10px);
    border: 1px solid $color-positive;
    color: $color-positive;
    display: inline-block;
}
