.role-badges {
    overflow: hidden;
}

.badge {
    @include rem(font-size, $font-size-small);
    @include rem(margin, 0 10px 10px 0);
    @include rem(padding, 3px 10px);
    border: 1px solid $color-positive;
    color: $color-positive;
    display: inline-block;

    &:last-child {
        margin-right: 0;
    }
}
