.btn, .btn-cta, input[type=submit]:not(.btn-plain) {
    border: 0;
    display: inline-block;
    font-weight: bold;
    font-family: $font-family-regular;
    line-height: $button-height;
    text-transform: uppercase;
    vertical-align: middle;

    &:hover, &:focus {
        text-decoration: none;
    }

    &.m-back {
        &:before {
            content: "← ";
        }
    }

    [class^="icon-"] {
        @include rem(margin-right, 5px);
    }
}

.btn, .btn-plain {
    background: transparent;
    border: 0;
    color: $color-text;
    padding: 0;

    &:hover, &:focus {
        color: $button-hover-color;
    }
}

.btn-cta,
input[type=submit]:not(.btn-plain) {
    @include rem(padding, 0 15px);
    background: $button-cta-base-color;
    border-radius: $button-height / 2;
    border: none;
    color: #fff;

    &:hover, &:focus {
        background-color: $button-cta-hover-color;
    }

    &.m-valid {
        background: $color-positive;
    }

    &.m-invalid {
        background: $color-negative;
    }

    &.m-valid, &.m-invalid {
        &:hover, &:focus {
            background-color: $button-cta-hover-color;
        }
    }
}

$btn-settings-size: 35px;

.btn-settings {
    @include rem(font-size, 20px);
    @include rem(height, $btn-settings-size);
    @include rem(margin, 17px 0);
    @include rem(width, $btn-settings-size);
    background: $button-cta-base-color;
    color: white;
    display: inline-block;
    float: right;
    text-align: center;

    [class^="icon-"]:before, & {
        line-height: $btn-settings-size;
    }

    &:hover, &:focus {
        background-color: $button-cta-hover-color;
    }
}

.filter-toggles {
    @include rem(margin, 17px 0);
    overflow: hidden;

    .filter-toggle-btn {
        @include rem(margin-left, 15px);
        float: right;
    }
}

.filter-toggle-btn {
    @include rem(padding, 0 10px);
    border: 1px solid $button-cta-base-color;
    background: white;
    border-radius: 3px;
    color: $button-cta-base-color;
    font-family: $font-family-regular;
    font-size: $font-size-small;
    text-transform: uppercase;

    &:hover, &:focus, &.m-active {
        background: $button-cta-base-color;
        color: #fff;
        text-decoration: none;
    }
}
