.btn-cta,
input[type=submit] {
    @include rem(padding, 0 15px);
    background: $button-cta-base-color;
    border: 0;
    border-radius: $button-cta-height / 2;
    color: #fff;
    font-family: $font-family-regular;
    font-weight: bold;
    line-height: $button-cta-height;
    text-transform: uppercase;

    &:hover, &:focus {
        background-color: $button-cta-hover-color;
    }
}
