.btn, .btn-cta {
    border: 0;
    font-weight: bold;
    font-family: $font-family-regular;
    line-height: $button-height;
    text-transform: uppercase;

    &:hover, &:focus {
        text-decoration: none;
    }

    &.m-back {
        &:before {
            content: "← ";
        }
    }
}

.btn {
    background: transparent;
    color: $color-text;
    padding: 0;

    &:hover, &:focus {
        color: $button-hover-color;
    }

    [class^="icon-"] {
        @include rem(margin-right, 5px);
    }
}

.btn-cta,
input[type=submit] {
    @include rem(padding, 0 15px);
    background: $button-cta-base-color;
    border-radius: $button-height / 2;
    color: #fff;

    &:hover, &:focus {
        background-color: $button-cta-hover-color;
    }
}
