body, html {
    height: 100%;
}

.page-wrapper {
    min-height: 100%;
    margin-bottom: -$main-menu-height;

    &:after {
        content: "";
        display: block;
        height: $main-menu-height;
    }
}

.container {
    margin: 0 auto;
    max-width: 1164px;
    padding: 0 20px;

    @media screen and (max-width: $tablet-breakpoint) {
        margin: 0;
        max-width: 768px;
        width: 100%;
    }

    &.container-main {
        @include rem(padding, 40px 0);
    }
}
