body, html {
    height: 100%;
}

.page-wrapper {
    min-height: 100%;
    margin-bottom: -$main-menu-height;

    &:after {
        content: "";
        display: block;
        height: $main-menu-height;
    }
}

.container-main {
    @include rem(padding, 40px 0);
}

.container-narrow {
    @extend .col-8-12;
    margin: 0 auto;
}

.m-shadow {
    background-color: $color-grey-lighter;
}

body.m-shadow {
    background-color: #fff;

    .main-grid {
        @include rem(margin-bottom, -$main-menu-height);
        @include rem(margin-top, -$main-menu-height);
        @include rem(padding-top, $main-menu-height);
        background-color: $color-grey-lighter;
        height: 100%;
    }
}

.popup-page {
    .main-heading {
        text-align: left;
    }
}
