body, html {
    height: 100%;
}

.page-wrapper {
    min-height: 100%;
    margin-bottom: -$main-menu-height;

    &:after {
        content: "";
        display: block;
        height: $main-menu-height;
    }
}

.container-main {
    @include rem(padding, 40px 0);
}

.m-shadow {
    background-color: $color-grey-lighter;
}
