//
// Icon Font: fontcustom
//

@font-face {
  font-family: "fontcustom";
  src: url("../icons/fontcustom_5fa7525dc6c8dcaa651f317d2bf83f88.eot");
  src: url("../icons/fontcustom_5fa7525dc6c8dcaa651f317d2bf83f88.eot?#iefix") format("embedded-opentype"),
       url("../icons/fontcustom_5fa7525dc6c8dcaa651f317d2bf83f88.woff") format("woff"),
       url("../icons/fontcustom_5fa7525dc6c8dcaa651f317d2bf83f88.ttf") format("truetype"),
       url("../icons/fontcustom_5fa7525dc6c8dcaa651f317d2bf83f88.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../icons/fontcustom_5fa7525dc6c8dcaa651f317d2bf83f88.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-bolt:before,
.icon-comment-o:before,
.icon-eye:before,
.icon-power-off:before,
.icon-sun-o:before,
.icon-voting:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-bolt:before { content: "\f102"; }
.icon-comment-o:before { content: "\f107"; }
.icon-eye:before { content: "\f103"; }
.icon-power-off:before { content: "\f104"; }
.icon-sun-o:before { content: "\f105"; }
.icon-voting:before { content: "\f108"; }

$font-fontcustom-bolt: "\f102";
$font-fontcustom-comment-o: "\f107";
$font-fontcustom-eye: "\f103";
$font-fontcustom-power-off: "\f104";
$font-fontcustom-sun-o: "\f105";
$font-fontcustom-voting: "\f108";
