//
// Icon Font: fontcustom
//

@font-face {
  font-family: "fontcustom";
  src: url("../icons/fontcustom_d414d7cb514b91bd43bf820220301c9c.eot");
  src: url("../icons/fontcustom_d414d7cb514b91bd43bf820220301c9c.eot?#iefix") format("embedded-opentype"),
       url("../icons/fontcustom_d414d7cb514b91bd43bf820220301c9c.woff") format("woff"),
       url("../icons/fontcustom_d414d7cb514b91bd43bf820220301c9c.ttf") format("truetype"),
       url("../icons/fontcustom_d414d7cb514b91bd43bf820220301c9c.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../icons/fontcustom_d414d7cb514b91bd43bf820220301c9c.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-bolt:before,
.icon-bullhorn:before,
.icon-camera:before,
.icon-check:before,
.icon-cogs:before,
.icon-comment-o:before,
.icon-ellipsis-h:before,
.icon-eye:before,
.icon-flag:before,
.icon-pencil:before,
.icon-power-off:before,
.icon-reply:before,
.icon-search:before,
.icon-sign-out:before,
.icon-sun-o:before,
.icon-thumbs-o-down:before,
.icon-thumbs-o-up:before,
.icon-times:before,
.icon-voting:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-bolt:before { content: "\f100"; }
.icon-bullhorn:before { content: "\f101"; }
.icon-camera:before { content: "\f102"; }
.icon-check:before { content: "\f103"; }
.icon-cogs:before { content: "\f104"; }
.icon-comment-o:before { content: "\f105"; }
.icon-ellipsis-h:before { content: "\f106"; }
.icon-eye:before { content: "\f107"; }
.icon-flag:before { content: "\f108"; }
.icon-pencil:before { content: "\f109"; }
.icon-power-off:before { content: "\f10a"; }
.icon-reply:before { content: "\f10b"; }
.icon-search:before { content: "\f10c"; }
.icon-sign-out:before { content: "\f10d"; }
.icon-sun-o:before { content: "\f10e"; }
.icon-thumbs-o-down:before { content: "\f10f"; }
.icon-thumbs-o-up:before { content: "\f110"; }
.icon-times:before { content: "\f111"; }
.icon-voting:before { content: "\f112"; }

$font-fontcustom-bolt: "\f100";
$font-fontcustom-bullhorn: "\f101";
$font-fontcustom-camera: "\f102";
$font-fontcustom-check: "\f103";
$font-fontcustom-cogs: "\f104";
$font-fontcustom-comment-o: "\f105";
$font-fontcustom-ellipsis-h: "\f106";
$font-fontcustom-eye: "\f107";
$font-fontcustom-flag: "\f108";
$font-fontcustom-pencil: "\f109";
$font-fontcustom-power-off: "\f10a";
$font-fontcustom-reply: "\f10b";
$font-fontcustom-search: "\f10c";
$font-fontcustom-sign-out: "\f10d";
$font-fontcustom-sun-o: "\f10e";
$font-fontcustom-thumbs-o-down: "\f10f";
$font-fontcustom-thumbs-o-up: "\f110";
$font-fontcustom-times: "\f111";
$font-fontcustom-voting: "\f112";
