.main-footer {
    @extend %main-menu-container;
    background: $color-grey-light;
}

.main-footer-menu {
    @extend %main-menu;
}

.main-footer-blurb {
    float: right;
    line-height: $main-menu-height;
}
