.main-footer {
    @extend %main-menu-container;
    background: $color-grey-light;

    @media screen and (max-width: $mobile-breakpoint) {
        @include rem(padding, 10px 0);
        height: auto;
    }
}

.main-footer-menu {
    @extend %main-menu;
}

.main-footer-blurb {
    float: right;
    line-height: $main-menu-height;
}

.main-footer-blurb,
.main-footer-menu {
     @media screen and (max-width: $mobile-breakpoint) {
        float: none;
        >li a, & {
            line-height: 1.2;
        }
    }
}
