input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
textarea {
    @include rem(margin-bottom, 45px);
    @include rem(padding, 0 25px);
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    color: $color-text;
    display: block;
    font-size: $font-size-small;
    font-family: $font-family-regular;
    line-height: $input-height;
    width: 100%;

    &.m-small {
        @extend .col-6-12;

        @media screen and (max-width: $mobile-breakpoint) {
            width: 100%;
        }
    }

    &.input-number {
        @include rem(padding, 0 5px);
        @include rem(width, 50px);
        text-align: center;
    }
}

input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
    -webkit-appearance: none;
}

textarea {
    @include rem(padding-bottom, 10px);
    @include rem(padding-top, 10px);
    line-height: 1.4;
    min-height: 100px;
}

select {
    @include rem(padding, 0 10px);
    @include rem(height, 30px);
    background-color: white;
    width: auto;

    &.m-stretch {
        width: 100%;
    }
}

.label-text {
    @include rem(padding-bottom, 9px);
    display: block;
}

.label-header {
    @include rem(margin-bottom, 20px);
}

.input-append {
    float: left;
    width: 100%;

    .input-appendee {
        @include rem(margin-right, 15px);
        float: left;
    }

    .input-helper {
        line-height: $input-height;
    }
}

.form-footer {
    @include rem(margin-top, 20px);

    .btn, .btn-cta, input[type="submit"] {
        @include rem(margin-right, 20px);
    }
}

.form-error,
.digestive-functors-error-list {
    @include rem(margin-bottom, 30px);
    color: $color-negative;
    display: block;
    font-weight: bold;
}

