input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
textarea {
    @include rem(margin-bottom, 45px);
    @include rem(padding, 0 25px);
    border: 0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    color: $color-text;
    display: block;
    font-size: $font-size-small;
    font-family: $font-family-regular;
    line-height: $input-height;
    width: 100%;

    &.m-small {
        @extend .col-6-12;
    }

    &.input-number {
        @include rem(padding, 0 5px);
        @include rem(width, 50px);
        text-align: center;
    }
}

.label-text {
    @include rem(padding-bottom, 9px);
    display: block;
}

.input-append {
    float: left;
    width: 100%;

    .input-appendee {
        @include rem(margin-right, 15px);
        float: left;
    }

    .input-helper {
        line-height: $input-height;
    }
}