.hero-unit {
    @include rem(padding, 60px 0 35px);
    background: white;
    clear: left;
    overflow: hidden;
    position: relative;
    text-align: center;

    .main-heading {
        @include rem(margin-bottom, 16px);
    }

    .sub-header {
        @include rem(font-size, $font-size-small);
        @include rem(margin-bottom, 33px);
        display: block;

        span {
            display: inline-block;
            max-width: 617px;
        }
    }

    .detail-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .icon-list {
        padding: 0;
        text-align: center;
    }

    .progress-bar {
        margin: 0 auto;
        max-width: 400px;
    }

    .like-bar {
        @include rem(font-size, $font-size-smaller);
        @include rem(margin-top, 5px);
        color: $color-positive;
        display: inline-block;
    }
}

.heroic-cta {
    @include rem(font-size, 18px);
    line-height: $button-height + 3;

    .heroic-btn-group & {
        @include rem(margin-right, 15px);

        &:last-child {
            margin-right: 0;
        }
    }
}

.heroic-btn-group {
    @include rem(margin-bottom, 40px);
}

.heroic-avatar {
    @include make_rounded_thumbnail(100px);
    margin: 0 auto;
}

.heroic-tabs {
    @include rem(bottom, 6px);
    left: 0;
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 100%;

    a, .heroic-tab-item {
        @include rem(margin-right, 28px);
        @include rem(padding, 5px 0);
        border-bottom: 1px solid transparent;
        color: $color-text;
        font-weight: bold;

        &:last-child {
            margin-right: 0;
        }
    }

    a, span {
        &:hover, &:focus, &.tab-selected, &.m-active {
            color: $color-link;
            border-color: $color-link;
            text-decoration: none;
        }
    }
}

.heroic-badges {
    font-size: $font-size-small;

    .m-feasable {
        color: $color-positive;
    }

    .m-not-feasable {
        color: $color-positive;
    }

    [class^="icon-"] {
        @include rem(font-size, 50px);
        display: block;
    }
}
