.icon-list {
    @include rem(padding, 24px 0);
    background: $color-grey-lighter;
    text-align: center;

    + .btn-cta {
        @include rem(margin-top, 20px);
    }

    .view-category & {
        @include rem(padding-top, 10px);
    }

    &.m-inline {
        background: none;
        text-align: left;
    }

    &.m-display-only {
        padding: 0;

        ul li {
            opacity: 1;
        }
    }

    ul, li {
        display: inline-block;
    }

    ul {
        margin: 0 auto;

        li {
            @include rem(font-size, $font-size-small);
            @include rem(margin-right, 30px);
            @include rem(min-width, 63px);
            background-repeat: no-repeat;
            background-position: center top;
            text-align: center;
            opacity: 0.4;

            &:hover, &:focus, &.m-active {
                opacity: 1;
            }

            .view-category &,
            .m-no-hover & {
                opacity: 1;

                > a, > span {
                    cursor: default;
                }
            }

            > a, > span {
                @include rem(padding-top, 60px);
                color: $color-brand1;
                display: block;
            }

            > a {
                cursor: pointer;
            }

            > span {
                cursor: default;
            }

            &.icon-rules {
                @include svg(icon_regeln);
            }

            &.icon-equipment {
                @include svg(icon_ausstattung);
            }

            &.icon-activities {
                @include svg(icon_aktivitaeten);
            }

            &.icon-teaching {
                @include svg(icon_unterricht);
            }

            &.icon-time {
                @include svg(icon_zeit);
            }

            &.icon-environment {
                @include svg(icon_umgebung);
            }

            &.icon-all-cats {
                @include svg(icon_all_cats);
            }

            &.icon-feasible {
                @include svg(yay);
            }

            &.icon-not-feasible {
                @include svg(nay);
                color: $color-negative;
            }

            &.icon-winner {
                @include svg(winner);
                background-size: contain;
            }

            &.icon-hourglass {
                @include svg(hourglass);
            }

            &.icon-table {
                background-image: url(../images/badge_aufdemtisch.png);

                > a, > span {
                    @include rem(padding-top, 50px);
                }
            }

            &:last-child {
                margin-right: 0;
            }

            @media screen and (max-width: $mobile-breakpoint) {
                @include rem(min-width, 43px);
                @include rem(margin-right, 15px);
                @include rem(margin-bottom, 20px);
                background-size: inherit;

                > a, > span {
                    @include rem(padding-top, 45px);
                }
            }
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        padding-bottom: 0;
    }

}

.meta-list {
    @include rem(font-size, $font-size-small);
    color: $color-text-muted;

    .meta-list-item {
        @include rem(margin-bottom, 10px);
    }

    .meta-list-icon {
        @include rem(margin-right, 15px);
    }
}

.small-avatar-list {
    @include rem(margin, 20px 20px 10px);

    .small-avatar-list-image {
        @include make_rounded_thumbnail(40px);
    }

    &, .small-avatar-list-item {
        overflow: hidden;
    }

    .small-avatar-list-item {
        @include rem(margin-bottom, 40px);
    }

    @media screen and (max-width: $mobile-breakpoint) {
        margin-left: 0;
        margin-right: 0;
    }
}

.view-category {
    @include rem(padding-top, 60px);
}

.checkboxes {
    li {
        @include rem(margin-bottom, 3px);
        position: relative;

        input {
            @include rem(top, 3px);
            position: absolute;
        }

        span {
            @include rem(padding-left, 20px);
            display: block;
        }
    }
}
