.icon-list {
    @include rem(padding, 24px 0);
    background: $color-grey-lighter;
    text-align: center;

    .view-category & {
        @include rem(padding-top, 10px);
    }

    &.m-inline {
        background: none;
        text-align: left;
    }

    &.m-display-only {
        padding: 0;

        ul li {
            opacity: 1;
        }
    }

    ul, li {
        display: inline-block;
    }

    ul {
        margin: 0 auto;

        li {
            @include rem(font-size, $font-size-small);
            @include rem(margin-right, 30px);
            @include rem(min-width, 63px);
            background-repeat: no-repeat;
            background-position: center top;
            text-align: center;
            opacity: 0.4;

            &:hover, &:focus, &.m-active {
                opacity: 1;
            }

            .view-category & {
                opacity: 1;

                > a, > span {
                    cursor: default;
                }
            }

            > a, > span {
                @include rem(padding-top, 60px);
                color: $color-brand1;
                display: block;
            }

            > a {
                cursor: pointer;
            }

            > span {
                cursor: default;
            }

            &.icon-rules {
                @include svg(icon_regeln);
            }

            &.icon-equipment {
                @include svg(icon_ausstattung);
            }

            &.icon-teaching {
                @include svg(icon_unterricht);
            }

            &.icon-time {
                @include svg(icon_zeit);
            }

            &.icon-environment {
                @include svg(icon_umgebung);
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.meta-list {
    @include rem(font-size, $font-size-small);
    color: $color-text-muted;

    .meta-list-item {
        @include rem(margin-bottom, 10px);
    }

    .meta-list-icon {
        @include rem(margin-right, 15px);
    }
}

.small-avatar-list {
    @include rem(margin, 20px 0 10px);

    .small-avatar-list-image {
        @include make_rounded_thumbnail(40px);
    }

    &, .small-avatar-list-item {
        overflow: hidden;
    }

    .small-avatar-list-item {
        @include rem(margin-bottom, 40px);
    }
}

.view-category {
    @include rem(padding-top, 60px);
}
