%main-menu {
    > li {
        @include rem(margin-right, 25px);

        a {
            color: $color-text;
            display: block;
            font-weight: bold;
            line-height: $main-menu-height;

            &.m-selected, &:focus, &:hover {
                color: $color-link;
                text-decoration: none;
            }
        }
    }

    &, > li {
        float: left;
    }
}

%main-menu-container {
    @include clearfix;
    @include rem(padding, 0 22px);
    @include rem(height, $main-menu-height);
    width: 100%;
}

$arrow-width: 6px;

.pop-menu {
    cursor: pointer;
    display: inline-block;
    line-height: $main-menu-height;
    outline: 0;
    position: relative;

    & {
        float: right;

        .pop-menu-list {
            right: -$arrow-width - 2px;

            >:after, >:before {
                @include rem(right, $arrow-width + 3px);
                left: auto;
            }

            >:before {
                @include rem(margin, 0 -1px 0);
            }
        }
    }

    &.m-open {
        .pop-menu-list {
            opacity: 1;
            visibility: visible;
        }
    }

    &.m-dots {
        &:before {
            @extend .icon-ellipsis-h;;
            @include rem(font-size, 20px);
            color: $color-text;
        }
    }
}

.pop-menu-list {
    min-width: 105px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
    transition: visibility 0.5s, opacity 0.5s linear;
    border-radius: 3px;
    opacity: 0;
    position: absolute;
    background: #fff;
    border: 1px solid $color-grey-light;
    visibility: hidden;
    text-align: left;
    z-index: 1;

    >:after, >:before {
        @include rem(left, $arrow-width + 3px);
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    >:after {
        @include rem(border-width, $arrow-width);
        @include rem(margin-left, -$arrow-width);
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
    }

    >:before {
        @include rem(border-width, $arrow-width + 1px);
        @include rem(margin, 0 0 0 (-$arrow-width - 1px));
        border-color: rgba(229, 229, 229, 0);
        border-bottom-color: $color-grey-light;
    }
}

.pop-menu-list-item {
    @include rem(font-size, $font-size-small);
    border-bottom: 1px solid $color-grey-light;
    line-height: 1.4;

    a, .pop-menu-list-item-form-wrapper {
        @include rem(padding, 5px 10px);
        color: $color-text;
        display: block;
        text-decoration: none;
        white-space: nowrap;

        &:hover, &:focus, & input:hover, & input:focus {
            color: $color-link;
            text-decoration: underline;
        }

        form {
            display: inline-block;
        }

        i {
            display: inline-block;
            vertical-align: middle;
            min-width: 15px;
        }
    }

    &.m-active {
        a {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}

.pop-menu-list-icon {
    @include rem(margin-right, 5px);
}
