body {
    @include rem-baseline;
    color: $color-text;
    font-family: $font-family-regular;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
}

a {
    color: $color-link;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

.main-heading {
    @include rem(margin-bottom, 45px);
    font-size: $font-size-jumbo;
    font-weight: normal;

    @media screen and (max-width: $mobile-breakpoint) {
        @include rem(margin-bottom, 20px);
        font-size: $font-size-xlarge;
    }
}

.main-heading, .sub-heading {
    text-align: center;
}

.align-left {
    text-align: left;
}

.sub-heading {
    @include rem(margin-bottom, 15px);
    color: $color-text-muted;
    display: block;
    font-size: $font-size-small;
    text-transform: uppercase;
}

.main-heading + .sub-heading {
    @include rem(margin-top, -20px);
    @include rem(margin-bottom, 39px);
}

.text-muted {
    color: $color-text-muted;
}

.post-title {
    @include rem(margin, -15px 0 20px);
    display: block;
}

.meta-text {
    color: $color-text-muted;
    text-transform: uppercase;
}
