$font-family-regular:       Cabin, helvetica, sans-serif;

$font-weight-bold:          700;

$font-size-normal:          14px;

$color-grey-dark:           #535353;
$color-grey-mid:            #e4e4e4;
$color-brand1:              #69970b; // Green

$color-text:                $color-grey-dark;
$color-link:                $color-brand1;

$header-height:             57px;