// Webfonts extracted from https://github.com/arthur-e/OpenClimateGIS
@font-face {
    font-family: 'Cabin';
    src: url('../../static/fonts/Cabin-Regular-webfont.eot');
    src: url('../../static/fonts/Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../static/fonts/Cabin-Regular-webfont.woff') format('woff'),
         url('../../static/fonts/Cabin-Regular-webfont.ttf') format('truetype'),
         url('../../static/fonts/Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CabinBold';
    src: url('../../static/fonts/Cabin-Bold-webfont.eot');
    src: url('../../static/fonts/Cabin-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../static/fonts/Cabin-Bold-webfont.woff') format('woff'),
         url('../../static/fonts/Cabin-Bold-webfont.ttf') format('truetype'),
         url('../../static/fonts/Cabin-Bold-webfont.svg#CabinBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
