.node {
}

.link {
  fill: none;
  stroke: black;
  stroke-width: 2.5px;
}

.hidden {
  opacity: 0;
}

text {
  font: 16px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
