.node {
}

.link {
    fill: none;
    stroke: black;
    stroke-width: 2.5px;
}

.implicit {
    stroke-dasharray: 5,5;
}

.hidden {
    opacity: 0;
}

text {
    font: 16px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
