body {
    max-width: 90%;
    align: middle;
    margin: 25px;
}

div {
    vertical-align: baseline;
    margin: 24px;
    padding: 12px;
}

span {
    vertical-align: baseline;
    margin: 24px;
    padding: 12px;
    border-style: dashed dashed dashed;
}
