.ideas-list-item {
    overflow: hidden;
}

.ideas-header {
    @extend .hero-unit;
    min-height: 290px;
    background:     url(/static/images/header_wild_ideas_left.png) no-repeat left top,
                    url(/static/images/header_wild_ideas_right.png) no-repeat right top;
}

.ideas-list-img-container {
    @include make_rounded_thumbnail($thumbnail-size);
    @include rem(margin-right, 27px);
    float: left;
    width: $thumbnail-size;
}

.ideas-list-item {
    @include rem(margin-bottom, 15px);
    @include rem(padding, 25px 27px);
    background-color: #fff;
    border-bottom: 1px solid $color-grey-lighter;
    overflow: hidden;
    width: 100%;

    &:first-child {
        @include rem(margin-top, 15px);
    }

    > a {
        color: $color-text;
        display: block;
        overflow: hidden;

        &:hover, &:focus {
            color: $color-link;
        }
    }
}

.ideas-list {
    @include rem(padding, 15px);
    clear: both;
}

.ideas-list-title {
    @include rem(font-size, $font-size-xlarge);
    margin-top: -2px;
    font-weight: 400;


    .ideas-list-author {
        display: block;
        font-size: $font-size-normal;
    }
}

.no-js {
    .category-image-select {
        display: none;
    }

    .category-radios {
        position: static;
    }
}

.category-image-select {
    display: block;
}

.category-radios {
    position: absolute;
    left: -999999px;
}
