.ideas-header {
    @extend .hero-unit;
    min-height: 290px;
    background:     url(/static/images/header_wild_ideas_left.png) no-repeat left top,
                    url(/static/images/header_wild_ideas_right.png) no-repeat right top,
                    white;
    @media screen and (max-width: $tablet-breakpoint) {
        background: url(/static/images/header_wild_ideas_left.png) no-repeat center center;
        background-size: cover;
    }
}

.ideas-list-img-container {
    @include make_rounded_thumbnail($thumbnail-size);
    @include rem(margin-right, 27px);
    float: left;
    width: $thumbnail-size;

    @media screen and (max-width: $mobile-breakpoint) {
        @include rem(margin-bottom, 20px);
        float: none;
    }
}

.ideas-list-text-container {
    @include rem(margin-left, $thumbnail-size + 27px);

    @media screen and (max-width: $mobile-breakpoint) {
         margin-left: 0;
    }
}

.ideas-list-item {
    @include rem(margin-bottom, 15px);
    @include rem(padding, 25px 27px);
    background-color: #fff;
    border-bottom: 1px solid $color-grey-lighter;
    overflow: hidden;
    width: 100%;

    &:first-child {
        @include rem(margin-top, 15px);
    }

    > a {
        @extend .clearfix;
        color: $color-text;
        display: block;

        &:hover, &:focus {
            color: $color-link;
        }
    }

    .admin-buttons {
        @include rem(margin-bottom, 20px);
    }

    .progress-bar, .progress-bar.m-show-abstain {
        .votes {
            @include rem(font-size, 11px);
        }
    }

    .icon-list span {
        display: none;
    }
}

.ideas-list {
    @include rem(padding, 15px);
    clear: both;

    @media screen and (max-width: $mobile-breakpoint) {
        @include rem(padding, 15px 10px);
    }
}

.ideas-list-title {
    @include rem(font-size, $font-size-xlarge);
    margin-top: -2px;
    font-weight: 400;


    .ideas-list-author {
        display: block;
        font-size: $font-size-small;
        color: $color-grey-mid;
    }

    @media screen and (max-width: $mobile-breakpoint) {
         @include rem(font-size, $font-size-normal);
    }
}

.info-text {
    @include rem(font-size, $font-size-small);
    @include rem(margin-bottom, 20px);
    @include rem(padding, 10px);
    background: $color-grey-lighter;
    border-radius: 4px;
    color: $color-text-muted;

    &.m-realised {
        .info-text-header {
            color: $color-positive;
        }
    }

    &.m-unrealised {
        .info-text-header {
            color: $color-negative;
        }
    }
}

.no-js {
    .category-image-select {
        display: none;
    }

    .category-radios {
        position: static;
    }
}

.category-image-select {
    display: block;
}

.category-radios {
    position: absolute;
    left: -999999px;
}

.creator-statement {
    @include rem(margin-top, 15px);
}

.ideas-list-meta-container {
    @media screen and (max-width: $tablet-breakpoint) {
        @include rem(padding-left, 80px);
    }

    @media screen and (max-width: $mobile-breakpoint) {
        float: left;
        margin: 0;
        padding: 0;

        .icon-list-indicator-item span {
            padding-top: 0;
        }
    }
}

.ideas-list-indicator-container {
    .indicator-item {
        @include rem(margin-right, 10px);
        float: right;

        ul li, .indicator-icon {
            @include rem(height, 32px);
            @include rem(width, 42px);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            text-indent: -9999px;
        }

        ul li>a,
        ul li>span,
        .indicator-icon {
            @include rem(padding-top, 0);
        }

        &:first-child {
            margin-right: 0;
        }

        @media screen and (max-width: $tablet-breakpoint) {
            float: right;
        }
    }

    .is-feasible .indicator-icon {
        @include svg(yay);
    }

    .is-not-feasible .indicator-icon {
        @include svg(nay);
    }

    .icon-winner .indicator-icon {
        @include svg(winner);
    }

    .icon-hourglass .indicator-icon {
        @include svg(hourglass);
    }

    .m-table .indicator-icon {
        background-image: url(../images/badge_aufdemtisch.png);
        min-width: 40px;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        margin: 0;
    }
}

.table-actions {
    @include rem(margin-top, 25px);

    + .info-text {
        @include rem(margin-top, 25px);
    }
}
