.login-register-form {
    @include rem(padding, 40px 30%);
    @include svg(login_owl,true);
    background-position: left center;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: $tablet-breakpoint) {
        @include rem(padding-left, 20px);
        @include rem(padding-right, 20px);
    }
}

.login-register-form-notice {
    @include rem(margin-top, 80px);
}