.item-room {
    @include rem(margin-bottom, 40px);
    box-shadow: 0 0 2px 0 rgba(77, 77, 77, 0.5);

    .item-room-image {
        @include rem(height, 120px);
        background-color: $color-grey-light;
        background-repeat: no-repeat;
        background-position: center center;
        display: block;

        @media screen and (max-width: $mobile-breakpoint) {
            @include rem(height, 80px);
            background-size: contain;
        }
    }

    .item-room-title {
        @include rem(padding, 22px);
        @include rem(font-size, $font-size-xlarge);
        background: #fff;
        color: $color-text;

        @media screen and (max-width: $mobile-breakpoint) {
            @include rem(padding, 12px);
            @include rem(font-size, $font-size-normal);
        }
    }

    &.is-school .item-room-image {
        @include svg(school_teaser);
    }

    &.is-class .item-room-image {
        @include svg(class_teaser,true);
    }
}
