.themes-header {
    @include rem(padding, 54px 0 46px);

    @media screen and (max-width: $mobile-breakpoint) {
        @include rem(padding, 20px 0 10px);
    }
}

.theme-grid-item {
    box-shadow: 0 0 2px 0 rgba(77, 77, 77, 0.5);

    .theme-grid-item-image {
        width: 100%;
    }

    .theme-grid-item-text {
        @include rem(padding, 18px 20px);
    }

    .theme-grid-item-phase {
        @include rem(font-size, $font-size-smaller);
        color: $color-text-muted;
        display: block;
        text-transform: uppercase;
    }

    .theme-grid-item-phase,
    .theme-grid-item-title,
    .theme-grid-item-blurb {
        @include rem(margin-bottom, 20px);
    }

    .theme-grid-item-title {
        @include rem(font-size, $font-size-xlarge);
    }

    .theme-grid-item-link {
        font-weight: bold;
    }

    .theme-grid-item-blurb,
    .theme-grid-item-title {
        color: $color-text;
    }

    .theme-grid-item-link {
        &:focus, &:hover {
            text-decoration: none;

            .theme-grid-item-link {
                text-decoration: underline;
            }
        }
    }
}

.theme-grid {
    .theme-grid-col {
        @include rem(margin-bottom, 20px);
        display: block;
        padding-left: 2px;

        &:nth-child(3n+2) {
            clear: left;
        }
    }
}
