.topic-header {
    @extend .hero-unit;
    min-height: 337px;

    @media screen and (max-width: $tablet-breakpoint) {
        background: none !important;
    }

    &.phase-PhaseRefinement {
        background:     url(/static/images/ausarbeitungsphase_l.png) no-repeat left top,
                        url(/static/images/ausarbeitungsphase_r.png) no-repeat right top,
                        white;
    }

    &.phase-PhaseJury {
        background:     url(/static/images/prufungsphase_l.png) no-repeat left top,
                        url(/static/images/prufungsphase_r.png) no-repeat right top,
                        white;
    }

    &.phase-PhaseVoting {
        background:     url(/static/images/header_vote_left.png) no-repeat left top,
                        url(/static/images/header_vote_right.png) no-repeat right top,
                        white;
    }

    &.phase-PhaseResult {
        background:     url(/static/images/ergebnisphase_l.png) no-repeat left top,
                        url(/static/images/ergebnisphase_r.png) no-repeat right top,
                        white;
    }
}

.theme-grid {
    clear: left;
}
